<html>
    <head>
        <title>practice30 - result</title>
    </head>

    <body>
        이름 : <%=name%> <br>
        성별 : <%=gender%> <br>
        생년월일 : <%=year%>년 <%=month%>월 <%=day%>일 <br>
        관심사 : <%=interest%> <br>
        e-mail: <%=mail%> <br>
        number: <%=number%>
    </body>
</html>