<html>
    <head>
        <title>practice30</title>
        <style>
            input {
                border: none;
            }
            select {
                border: none;
            }
            button {
                border: none;
                background-color: lightcoral;
                border-radius: 20px;
                padding: 10 15;
                color: white;
            }
            button:hover {
                opacity: 0.7;
            }
        </style>
    </head>

    <body>
        <form action="/practice30_receive" method="POST">
            <p>폼 전송 - 실습</p>

            <fieldset style="width: 300; padding: 10 0 10 15; margin-bottom: 10; border: none; background-color: lightcoral;">
                이름 <input type="text" name="name" required> <br>
                성별
                <input type="radio" name="gender" value="남자" required>남자
                <input type="radio" name="gender" value="여자">여자 <br>
                생년월일
                <select name="year">
                    <% for(let i = 1950; i < 2023; i++) { %>
                        <option value="<%=i%>"><%=i%></option>
                    <% } %> 
                </select> 년
                <select name="month">
                    <% for(let i = 1; i < 13; i++) { %>
                        <option value="<%=i%>"><%=i%></option>
                    <% } %> 
                </select> 월
                <select name="day">
                    <% for(let i = 1; i < 32; i++) { %>
                        <option value="<%=i%>"><%=i%></option>
                    <% } %> 
                </select> 일
                <br>
                관심사
                <input type="checkbox" name="interest" value="여행">여행
                <input type="checkbox" name="interest" value="패션">패션
                <input type="checkbox" name="interest" value="음식">음식 <br>
                e-mail
                <input type="email" name="mail"> <br>
                number
                <input type="range" name="number" min="0" max="20">
            </fieldset>
            
            <button>회원가입</button>
        </form>
    </body>
</html>